<html>
    <head>
         <link rel="stylesheet" type="text/css" href="logindecor.css">
    </head>
    <body>
        <div id="mc">
<!--        <div id="gameButton"><a href="snakegame.html"> Play Game!!</a></div>-->
            <span id="gameButton"> <a href="snakegame.html"> Play SNAKE </a> </span>
            <div class="dataform">
            <form> Username <input type="text"> </form>
            <br/>
            <form> Password <input type="password"> </form>
            <br/>
            <button class="button"> Register </button>
            <button class="button"> Log in </button>
            <button class="button"><a href="snakegame.html"> Cancel </a></button>
            </div>
        </div>
        <script type="text/javascript" src="loginscript.js">

        </script>
    </body>
</html>