
/*
#namebutton{
	width: 100px;
	background-color: #FF8C00;
    font:bold 0.9em verdana,arial;
	text-decoration:none;
    position: absolute;
    left: 1000px;
    top:40px;
    text-align: center;
    align-content: center;

}

#cover{
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,255,255,0.6);
    z-index:5;
    width:100%;
    height:100%;
    display:none;
}
#loginScreen
{
    height:380px;
    width:340px;
    margin:0 auto;
    position:absolute;
    z-index:10;
    display:none;
	border:5px solid #cccccc;
	border-radius:10px;
    background-color: black;
}
#loginScreen:target, #loginScreen:target + #cover{
    display:block;
    opacity:2;
}
.cancel
{
    display:block;
    position:absolute;
    top:3px;
    right:2px;
    background:rgb(245,245,245);
    color:black;
    height:30px;
    width:35px;
    font-size:30px;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
}
    #modalContainer {
    background-color:rgba(0, 0, 0, 0.3);
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:10000;
}
*/
a:visited{
    text-decoration: none;
    color:aliceblue;
    font-family: verdana,arial;
}
#homeButton{
    width: 100px;
    border-style: solid;
    border-color: aliceblue;
    font:bold 0.9em verdana,arial;
    color: aliceblue;
    color: aliceblue;
    font-family: verdana,arial;
    border-radius: 4px;
    padding: 1px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
	text-decoration:none;
    position: absolute;
    left: 1000px;
    top:40px;
    text-align: center;
    align-content: center;
}
#homeButton:hover{
    box-shadow: 1px 5px 18px #ff4da6;
}#logButton{
    width: 100px;
    border-style: solid;
    border-color: aliceblue;
    font:bold 0.9em verdana,arial;
    color: aliceblue;
    color: aliceblue;
    font-family: verdana,arial;
    border-radius: 4px;
    padding: 1px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
	text-decoration:none;
    position: absolute;
    left: 1000px;
    top:80px;
    text-align: center;
    align-content: center;
}
#logButton:hover{
    box-shadow: 1px 5px 18px #ff4da6;
}
#alertBox {
    position:relative;
    width:300px;
    min-height:100px;
    margin-top:50px;
    border:3px solid #ed2ec8;
    background-color:#000115;
    background-repeat:no-repeat;
    background-position:20px 30px;
    color: aliceblue;
}

#modalContainer > #alertBox {
    position:fixed;
}

#alertBox h1 {
    margin:0;
    font:bold 0.9em verdana,arial;
    background-color:#1922ff;
    color:#FFF;
    border-bottom:1px solid #000;
    padding:2px 0 2px 5px;
}

#alertBox p {
    font:0.7em verdana,arial;
    height:50px;
    padding-left:5px;
    margin-left:55px;
}

#alertBox #closeBtn {
    display:block;
    position:relative;
    margin:5px auto;
    padding:7px;
    border:0 none;
    width:70px;
    font:0.7em verdana,arial;
    text-transform:uppercase;
    text-align:center;
    color:#FFF;
    background-color:#1922ff;
    border-radius: 3px;
    text-decoration:none;
}

/* unrelated styles */

#mContainer {
    position:relative;
    width:600px;
    margin:auto;
    padding:5px;
    border-top:2px solid #000;
    border-bottom:2px solid #000;
    font:0.7em verdana,arial;
    
}

h1,h2 {
    margin:0;
    padding:4px;
    font:bold 1.5em verdana;
    border-bottom:1px solid #000;
    
}

code {
    font-size:1.2em;
    color:#069;
}

#credits {
    position:relative;
    margin:25px auto 0px auto;
    width:350px; 
    font:0.7em verdana;
    border-top:1px solid #000;
    border-bottom:1px solid #000;
    height:90px;
    padding-top:4px;
}

#credits img {
    float:left;
    margin:5px 10px 5px 0px;
    border:1px solid #000000;
    width:80px;
    height:79px;
}

.important {
    background-color:#F5FCC8;
    padding:2px;
}

code span {
    color:green;
}
  html, body {
    height: 100%;
    margin: 0;
  }
  body {
    background: black;
    display: flex;
    align-items: center;
       background-image: url(bricks.png);
    background-repeat: repeat;
    justify-content: center;
  }
  canvas {
    border: 5px solid white;
     background-color:#00011c; 
      box-shadow: 1px 5px 100px #1922ff;
  }
.label{
    font-size: 15px;
    color:aliceblue;
    
          font-family:  verdana,arial;
        
}
      #score{
          border-style:dotted;
            border-color:#ff63ed;
          height:100px;
        width: 100px;
          background-color:#6c1c6f;
        display:inline-block;
          text-align:center;
          padding-bottom: 35px;
        font-size: 80pt;
          font-family:  verdana,arial;
          
        
      }
#score2{
          border-style:dotted;
            border-color:#ff63ed;
          height:100px;
        width: 100px;
          background-color:#6c1c6f;
        display:inline-block;
          text-align:center;
          padding-bottom: 35px;
        font-size: 80pt;
          font-family:  verdana,arial;
          
        
      }
